[Unit]
Description=mtail prometheus metric exporter for logs
After=network.target

[Service]
WorkingDirectory={{ soldat_home }}
User={{ soldat_user }}
Group=systemd-journal
Restart=on-failure
RestartSec=3
ExecStart=/bin/bash -o pipefail -ec "/usr/bin/journalctl -t %i -o short-iso -f -n 0 | ./mtail -progs %i.mtail -logs /dev/stdin -logtostderr"
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
