[Unit]
Description=Soldat 2 dedicated server
After=network.target

[Service]
Environment=TERM=xterm
SyslogIdentifier={{ _soldat_service_id }}
WorkingDirectory={{ _soldat_deployment_path }}
User={{ soldat_user }}
Group={{ soldat_user }}
Restart=on-failure
RestartSec=5
ExecStart={{ _soldat_deployment_path }}/soldat2{% if soldat_port %} 'Port={{ soldat_port }}'{% endif %}{% if soldat_servername %} 'Name={{ soldat_servername }}'{% endif %}{% if soldat_admin_playfab %} 'AdminPlayfabId={{ soldat_admin_playfab }}'{% endif %}{% if soldat_serverpassword %} 'ServerPassword={{ soldat_serverpassword }}'{% endif %}{% if soldat_botcount %} 'FillBotsCount={{ soldat_botcount }}'{% endif %}{% if soldat_hidden_in_lobby %} 'VisibleInGamesList=False'{% endif %}


[Install]
WantedBy=multi-user.target
